<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="installmentsApp.DatabaseSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="installmentsApp.ReportSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="installmentsApp.Previlage" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="installmentsApp.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="installmentsApp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/DevExpress Dark Style</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <installmentsApp.DatabaseSetting>
      <setting name="SerVer" serializeAs="String">
        <value />
      </setting>
      <setting name="DataBase" serializeAs="String">
        <value />
      </setting>
    </installmentsApp.DatabaseSetting>
    <installmentsApp.ReportSettings>
      <setting name="CompanyName" serializeAs="String">
        <value>شركة الصالحاني</value>
      </setting>
      <setting name="FooterText" serializeAs="String">
        <value />
      </setting>
      <setting name="EmployeeName" serializeAs="String">
        <value />
      </setting>
    </installmentsApp.ReportSettings>
    <installmentsApp.Previlage>
      <setting name="CreateBackup" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="RestoreBackup" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="GrantPrivelages" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="ManageUsers" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="AddOneProduct" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="ManageProduct" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="ModifyProduct" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="DeleteProduct" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="Pos" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="PosCash" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="PosTkset" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="PosDiscount" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="AddCustomer" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="ManageCustomers" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="ModifyCustomer" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="DeleteCustomer" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="AddFatora" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="ManageFatora" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="DeleteFatora" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="AddCompany" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="ManageCompany" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="ModifyComapny" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="DeleteCompany" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="ManageReports" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="SndAdd" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="ManageDB" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="AolModa" serializeAs="String">
        <value>7</value>
      </setting>
    </installmentsApp.Previlage>
    <installmentsApp.Settings1>
      <setting name="PosBtnColor" serializeAs="String">
        <value />
      </setting>
      <setting name="FatoraBtnColor" serializeAs="String">
        <value />
      </setting>
      <setting name="FatoraBtnPic" serializeAs="String">
        <value />
      </setting>
    </installmentsApp.Settings1>
    <installmentsApp.Settings>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
    </installmentsApp.Settings>
  </userSettings>
</configuration>